#pf{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;

	margin-top: 78px;

	position: absolute;
	top: 0;
	right: 0;

	z-index: 5;

	display: none;
}
#profile{
	width: 400px;
	height: 920px;
	background-color: #ebf5ee;
}
.menu1{
	width: 100%;
	height: 50px;
	/*background-color: red;*/

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu1 h2{
	margin-left: 20px;
}
.menu1 h2:hover{
	cursor: pointer;
}
.menu1 .icon1{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 20px;
}
#pf #profile .menu1 .icon{
	width: 30px;
	height: 30px;

	background-color: #d6d3c9;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 20px;
}
.menu1 .icon:hover{
	cursor: pointer;
}
 .heart{
	color: #000;
	font-size: 1rem;
	padding: 5px;
	transition: all 0.2s;

}
.heart:hover{
	color: pink;
}

.pro{
	width: 100%;
	height: 70px;
	/*background-color: brown;*/

	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
.pro img{
	width: 50px;
	height: 50px;
	border-radius: 50%;

	object-fit: cover;
}
.pro img:hover{
	opacity: 0.8s;
	cursor: pointer;
}
.pro .pro1 img{
	margin-left: 18px;
	object-fit: cover;
}
.pro h3{
	margin-left: 10px;
}
.pro h3:hover{
	cursor: pointer;
}
.pro .pro2 img{
	margin-left: 198px;
}

.shortcut{
	width: 100%;
	height: 500px;
	/*background-color: yellow;*/
}
.shortcut h3{
	margin: 5px 0 5px 20px;
}
.shortcut h3:hover{
	cursor: pointer;
}
.shortcut .short{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.shortcut .short1{
	width: 180px;
	height: 80px;
	background-color: #fff;

	display: flex;
	justify-content: space-evenly;
	align-items: left;
	flex-direction: column;

	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.3);
	transition: box-shadow 0.3s;
	border-radius: 10px;

	padding-left: 10px;
	margin: 5px 0;
}
.shortcut .short1:hover{
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}
.short .short1 i{
	width: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ebf5ee;
	color: #8ee6e4;
	font-size: 20px;
	border-radius: 50%;
}

.see a{
	color: #000;
	text-decoration: none;
	padding: 10px 160px;
	background-color: #FFF5E4;
	border-radius: 10px;

	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.3);
	transition: box-shadow 0.3s;
	margin-left: 8px;
}
.see a:hover{
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}

.ul{
	list-style: none;
	background-color: #FFF5E4;
	display: flex;
	justify-content: left;
	align-items: center;
	
	margin-top: 20px;
	padding: 10px 0px;
}
.ul:hover{
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}
.ul ul li {
	display: inline-block;
	position: relative;
}
.ul ul li a , .cmt{
	color: #000;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}

.ul ul li i{
	width: 35px;
	height: 35px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ebf5ee;
	color: #8ee6e4;
	border-radius: 50%;
	margin-right: 10px;
	padding-top: 5px;
}
 .dropdown1{
	display: block;
	background-color: pink;
	position: absolute;
	left: 0;
	top: 100%;
}
.dropdown1{
	display: none;
}
.dropdown1 ul{
	display: block;
	margin: 10px;
	background-color: #ebf5ee;
}
ul li:hover .dropdown1{
	display: block;
	background-color: #ebf5ee;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 10;
}


.log{
	margin-top: 20px;
}
.log a{
	color: #000;
	text-decoration: none;
	padding: 10px 165px;
	background-color: #FFF5E4;
	border-radius: 10px;

	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.3);
	transition: box-shadow 0.3s;
	margin-left: 8px;
}
.log a:hover{
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
	cursor: pointer;
}