*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	

	background-image: url(img/bgimage.png);
	background-repeat: no-repeat;
	background-size: cover;

	
}

#aboutus {
	margin-top: 75px;
}

#aboutus h1{
	color: steelblue;
	font-size: 1.5rem;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 30px;
}

#aboutus .divider{
	width: 300px;
	height: 50px;

	margin-left: 530px;
}

#aboutus .divider img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#aboutus .mission{
	margin-left: 20px;
}

#aboutus .mission h3{
	margin: 20px 0px;
	font-size: 1.5rem;
}

#aboutus .mission .ourmission{
	width: 600px;
	height: 60px;

	transform: skew(160deg);
	border-radius: 10px;

	box-shadow: 1px 1px 5px 1px rgba(241, 128, 204, 0.7);

	transform:translateY(-10px);

	cursor: pointer;
}

#aboutus .mission .ourmission:hover{
	box-shadow: 1px 1px 5px 1px rgba(240, 228, 236, 0.2)
	
}

.ourmission p{
	padding: 20px 0px;
	margin-left: 15px;
}

h3{
	margin: 20px 20px;
	font-size: 1.5rem;
}

.ourhistory {
	width: 800px;
	height: 180px;
	

	margin: 0px 20px;
	padding-top:20px;
	

}

.ourhistory p{
	font-size: 1rem;
	margin-bottom: 20px;

	overflow: hidden;
}

.ourhistory a{
	text-decoration: none;
	padding: 8px 15px;
	color: #fff;
	background-color: steelblue;
	border-radius: 15px;
}

.clientreview p{
	margin: 20px 20px;
}

.clientreview .clientcontainer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.clientreview .clientcontainer .clientbox{
	width: 300px;
	height: 350px;
	

	box-shadow: 1px 1px 5px 3px #ff87ef;
	border-radius: 15px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	transition: all 0.2s;
}

.clientreview .clientcontainer .clientbox :hover{
	background-color: lightpink;

	cursor: pointer;
}

.clientreview .clientcontainer .clientbox img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;

}

.fa-star{
	color: goldenrod;
}

.uniquelovestory{

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.uniquelovestory p{
	margin: 0px 20px;
}

.uniquelovestory .lovestorycontainer{
	width: 900px;
	height: 500px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-image:url(img/1.jpg);
	background-repeat:no-repeat;
	background-size:cover
	
}



.uniquelovestory .lovestorybox{
	width: 300px;
	height: 500px;

	box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);
	border-radius: 20px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}   

span{
	font-size: 1.5rem;
	color:rgb(177, 14, 163);
	text-transform: uppercase;
	border-bottom:1px dotted #000;
	font-weight: 300;
}

.lovestorybox p{
	font-size: 0.9rem;
}

.ourteam{
	width: 100%;
	height: 900px;
	
}

.ourteam h3{
	margin-left: 600px;
}

.ourteam .first{
	width: 100%;
	height: 270px;


	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.ourteam .second{
	width: 100%;
	height: 270px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.ourteam .third{
	width: 100%;
	height: 270px;
	

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.content{
	width: 250px;
	height: 220px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.content img{
	width: 200px;
	height: 150px;
	object-fit: cover;

	border-radius: 50%;
}

